@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@300&family=Ubuntu&display=swap');

.menucategorias{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    text-decoration: none;

}

.menucategorias:hover{
    color: rgb(255, 255, 255);
    
}

body{
    margin: 0;
    position: relative;
    padding-bottom: 5em;
    min-height:100vh ;
}

.footer {
    padding: 1em 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.heart{
    color: gray;
}

.heart:hover{
    color: rgb(209, 31, 31);
}

.heartProducts{
    cursor: pointer;
    
}